html, body {
    background-color: #222;
    width: 1280px;
    height: 600px;
    margin: auto;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    margin: 0;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lobby, #config {
    border: 4px #fff solid;
    margin-top: 6px;
    width: calc(0.7 * 1280px - 2px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#config {
    border-left: none;
    width: calc(0.3 * 1280px - 2px);
}

#title {
    height: 40px;
    padding: 4px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#header {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 128px 256px 128px 256px 128px;
    text-align: center;
}

#description {
    border: 1px #fff solid;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lobby_list {
    margin-top: 2px;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
}

#rooms {
    width: 100%;
    height: 30px;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 128px 256px 128px 256px 128px;
    text-align: center;
}

#room_info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join, #create {
    color: #fff;
    width: 80px;
    max-height: 22px;
    align-self: center;
    justify-self: center;
    background-color: #111;
    border: none;
    border-radius: 20px;
}

#create {
    width: 200px;
    height: 30px;
    max-height: none;
}

.join:hover, #create:hover {
    cursor: pointer;
}

#config {
    height: 100%;
    width: 100%;
}

#form {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.box {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    left: 15%;
    right: 15%;
}

#config_grid, #config_sequence, #config_id, #config_password {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: none;
    outline-style: none;
    text-align: center;
}

#config_id, #config_password {
    padding-left: 10px;
}

.config_tooltip {
    display: flex;
    justify-content: center;
}

.tooltip {
    text-align: center;
    font-size: 14px;
    margin-top: 130px;
}

.config_tooltip .tooltip {
    visibility: hidden;
    position: absolute;
}

.config_tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1;  
}

#question_mark {
    text-align: center;
    border-radius: 50%;
    height: 20px;
    width: 25px;
    border: 2px #fff solid;
    padding-bottom: 5px;
}
